$background-color: (
    "bg0": rgb(255, 228, 232),
    "bg1": rgb(213, 230, 235),
    "bg2": rgb(243, 243, 243),
    "bg3": rgb(254, 209, 217),
    "bg4": rgb(191, 247, 228),
    "bg5": rgb(237, 220, 252),
    "bg6": rgb(234, 209, 254),
    "bg7": rgb(150, 231, 204),
    "bg8": rgb(192, 223, 212),
    "bg9": rgb(255, 192, 203),
    "bg10": rgb(255, 209, 217),
    "bg11": rgb(187, 234, 239),
    "bg12": rgb(243, 221, 191),
);
$font-color0: rgb(7, 7, 7);
$font-color1: rgb(0, 0, 67);
$font-color2: rgb(0, 0, 84);
$font-color3: rgb(9, 9, 59);
$font-color4: rgb(0, 0, 107);
$font-color5: rgb(0, 0, 97);
$font-color6: rgb(0, 0, 87);
$font-color7: rgb(0, 0, 47);
$font-color8: rgb(14, 91, 91);
$font-size: 20px;
$padding1: 27px;
$border1: 5px double rgb(79, 187, 151);
$border2: 5px double palevioletred;
$border3: 5px double rgb(87, 166, 140);
$border4: 5px double rgb(174, 112, 216);
$border5: 5px double rgb(174, 174, 174);
$border6: 5px double rgb(75, 154, 127);
$border7: 5px double rgb(75, 96, 154);
$border8: 5px double rgb(201, 160, 236);
$border9: 2px double rgb(134, 197, 162);
$border10: 2px double rgb(255, 126, 147);
$border11: 5px double rgb(87, 162, 166);
$border12: 2px dashed pink;
$border13: 2px double rgb(204, 111, 126);
$border14: 2px double rgb(138, 144, 181);
$shadow1: 5px 5px rgb(189, 113, 138);
$shadow2: 5px 5px rgb(108, 162, 144);
$shadow3: 5px 5px rgb(136, 116, 154);
$shadow4: 5px 5px rgb(149, 123, 170);
$shadow5: 5px 5px rgb(115, 119, 141);