.ayudaGrid{
    display: grid;
    grid-template-areas:
    "títuloAyuda"
    "guía"
    "formulario"
    "publicidadAyuda"
    "preguntasAyuda";
}
.títuloAyuda{
    grid-area: títuloAyuda;
}
.guía{
    grid-area: guía;
    padding: 21px;
    margin: 30px;
    border: $border4;
    border-radius: 23px;
    background-color: map-get($background-color, "bg5");
    box-shadow: $shadow3;
}
.formulario{
    grid-area: formulario;
    margin: 30px;
    border: $border4;
    border-radius: 23px;
    background-color: map-get($background-color, "bg5");
    box-shadow: $shadow3;
    .formularioOpción{
        margin: 17px;
        .casillaAyuda{
            width: 190px;
            padding: 10px;
            border: $border15;
            border-radius: 7px;
            background-color: map-get($background-color, "bg1");
        }
    }
}
.btnAyuda{
    @extend .btn2;
    padding: 5px;
    display: flex;
    justify-content: start;
}
.publicidadAyuda{
    grid-area: publicidadAyuda;
    margin: 50px;
    border: $border4;
    border-radius: 23px;
    background-color: map-get($background-color, "bg5");
    box-shadow: $shadow3;
    display: flex;
    justify-content: center;
    .publicidad{
        width: 171px;
        height: 500px;
        padding: 10px;
    }
}
.preguntasAyuda{
    margin-top: 23px;
    grid-area: preguntasAyuda;
    .correoContacto{
        color: $font-color8;
    }
}