#grillaInicio{
    display: grid;
    grid-template-areas:
    "navBar"
    "botónLecturas"
    "botónRecomendaciones"
    "botónTienda"
    "botónComunidad"
    "eslogan"
    "librosDelMes"
    "librosMesGrid"
    "footer";
}
.eslogan{
    grid-area: eslogan;
    h1{
        padding: 20px 10px 20px 10px;
        margin: 37px;
        text-align: center;
        font-size: 33px;
        color: $font-color3;
    }
}
.librosDelMes{
    grid-area: librosDelMes;
    h2{
        margin: 20px;
        font-size: 30px;
        color: $font-color4;
    }
}
.librosMesGrid{
    grid-area:librosMesGrid;
    .títulosInicio{
        margin: 10px;
        font-size: 30px;
        text-align: center;
        color: $font-color2;
    }
}
.portadas{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 23px;
    overflow: hidden;
    width: 57%;
    height: 82%;
    background-color: map-get($background-color, "bg2");
    .títulos{
        color: $font-color1;
    }
}
.portadas.grupoA{
    border: $border1;
}
.portadas.grupoB{
    border: $border2;
}
.galeríaLibros{
    display: grid;
    justify-items: center;
    .portadasImg{
        width: 160px;
        height: 170px;
    }
}
.figaptionTítulos{
    font-size: 17px;
}
.autoresArgentinos{
    margin: 30px;
    background-color: map-get($background-color, "bg3");
    border-radius: 23px;
    border: $border2;
    box-shadow: $shadow1;
}
.ficciónPersonal{
    margin: 30px;
    background-color: map-get($background-color, "bg4");
    border-radius: 23px;
    border: $border3;
    box-shadow: $shadow2;
}
.distopías{
    margin: 30px;
    background-color: map-get($background-color, "bg3");
    border-radius: 23px;
    border: $border2;
    box-shadow: $shadow1;
}
.infantiles{
    margin: 30px;
    background-color: map-get($background-color, "bg4");
    border-radius: 23px;
    border: $border3;
    box-shadow: $shadow2;
}
.fantasía{
    margin: 30px;
    background-color: map-get($background-color, "bg3");
    border-radius: 23px;
    border: $border2;
    box-shadow: $shadow1;
}
.contextoHistórico{
    margin: 30px;
    background-color: map-get($background-color, "bg4");
    border-radius: 23px;
    border: $border3;
    box-shadow: $shadow2;
}