.formularioLogin{
    margin: 30px;
    border: $border2;
    background-color: map-get($background-color, "bg3");
    box-shadow: $shadow1;
    text-align: center;
    .casillasLogin{
        margin: 12px;
    }
}
.btn{
    padding: 7px;
}