@media (min-width:640px){
    nav{
        ul{
            grid-area: botonesNav;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: larger;
        }
    }
    .navBar{
        grid-template-areas:
        "login logo ayuda"
        "barraBúsqueda barraBúsqueda barraBúsqueda";
        justify-items: center;
    }
    .inicioLogo{
        margin: 10px;
    }
    .botónLogin{
        margin: 41px;
        text-align: center;
    }
    .iconoAyuda{
        margin: 41px;
        display: flex;
        justify-content: center;
    }
    .casillaBúsqueda{
       width: 327px;
    }
    #grillaInicio{
        display: grid;
        grid-template-areas:
        "navBar"
        "botonesNav"
        "eslogan"
        "librosDelMes"
        "librosMesGrid"
        "footer";
    }
    .portadas:hover{
        transform: scale(1.05);
        transition-property: all;
        transition-duration: 0.5s;
    }
    .figaptionTítulos{
    font-size: 20px;
    }
    .autoresArgentinos{
        margin: 50px;
    }
    .ficciónPersonal{
        margin: 50px;
    }
    .distopías{
        margin: 50px;
    }
    .infantiles{
        margin: 50px;
    }
    .fantasía{
        margin: 50px;
    }
    .contextoHistórico{
        margin: 50px;
    }
    .botónComunidad:hover{
        transform: scale(1.1);
        transition-property: all;
        transition-duration: 0.5s;
    }
    .formularioLogin{
        margin: 30px 15%;
    }
    .formulariosGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    .proyectoIbreeds{
        margin: 60px;
    }
    .significaIbreeds{
        margin: 60px;
    }
    .formularioMotor{
        margin: 60px;
    }
    .videos{
        width: 380px;
        height: 195px;
    }
    iframe{
        width: 360px;
        height: 175px;
    }
    .imagenesMerch:hover{
        transform: scale(1.05);
        transition-property: all;
        transition-duration: 0.5s;
    }
    .exampleImg:hover{
        transform: scale(1.05);
        transition-property: all;
        transition-duration: 0.5s;
    }
}
@media (min-width:1000px){
    .navBar{
        grid-template-areas:
        "logo barraBúsqueda login ayuda";
        grid-template-columns: 25% 45% 15% 15%;
        align-items: center;
    }
    .inicioLogo{
        margin-right: 105px;
    }
    .botónBúsqueda{
        padding: 5px;
        height: 35px;
    }
    .galeríaLibros{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .ayudaGrid{
        grid-template-areas:
        "títuloAyuda títuloAyuda títuloAyuda"
        "guía formulario exampleAyuda"
        "guía preguntasAyuda exampleAyuda";
    }
    .formularioLogin{
        margin: 30px 31%;
    }
    .formulariosLecturas{
        width: 325px;
    }
    .casillasLecturas{
        width: 300px;
    }
    .motorNavBar{
        margin: 10px;
    }
    .proyectoIbreeds{
        margin: 70px;
        grid-template-areas:
        "título título título"
        "parrafo1 parrafo1 imagen"
        "parrafo2 parrafo3 parrafo4";
    }
    .significadoIbreeds{
        margin: 70px;
    }
    .fotmularioMotor{
        margin: 70px;
    }
    .galeríaVideos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .videos{
        width: 420px;
        height: 235px;
    }
    iframe{
        width:400px;
        height: 215px;
    }
    .novedadesMes{
        display: flex;
        flex-direction: row;
    }
    .bestSeller{
        display: flex;
        flex-direction: row;
    }
    .audiolibros{
        display: flex;
        flex-direction: row;
    }
    .eBooks{
        display: flex;
        flex-direction: row;
    }
    .mercancía{
        display: flex;
        flex-direction: row;
    }
    .exampleTienda{
        display: flex;
        flex-direction: row;
    }
}