.motorNavBar{
    display: flex;
    justify-content: center;
}
.proyectoIbreeds{
    margin: 30px;
    background-color: map-get($background-color, "bg11");
    border-radius: 23px;
    border: $border11;
    box-shadow: $shadow2;
    text-align: center;
    display: grid;
    justify-items: center;
    grid-template-areas:
    "título"
    "imagen"
    "parrafo1"
    "parrafo2"
    "parrafo3"
    "parrafo4";
}
.títuloProyecto{
    grid-area: título;
}
.imagenProyecto{
    grid-area: imagen;
}
.parrafoProyecto1{
    grid-area: parrafo1;
}
.parrafoProyecto2{
    grid-area: parrafo2;
}
.parrafoProyecto3{
    grid-area: parrafo3;
}
.parrafoProyecto4{
    grid-area: parrafo4;
}
.formularioMotor{
    margin: 30px;
    padding: 10px;
    background-color: map-get($background-color, "bg11");
    border-radius: 23px;
    border: $border11;
    box-shadow: $shadow2;
    .pFormMotor{
        text-align: center;
    }    
}