.videoAviso{
    margin: 75px 40px 40px 40px;
    text-align: left;
    font-size: 20px;
    color: $font-color1;
}
.galeríaVideos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    .videos{
        margin: 20px;
        padding: 12px;
        background-color: map-get($background-color, "bg4");
        border-radius: 23px;
        border: $border3;
        box-shadow: $shadow2;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
}