.galeríaTienda{
    display: grid;
    grid-template-areas:
    "títuloNovedades"
    "novedades"
    "títuloBestSeller"
    "bestSeller"
    "títuloAudiolibros"
    "audiolibros"
    "títuloEBooks"
    "ebooks"
    "títuloMerchandising"
    "merchandising"
    "títuloExample"
    "example"
    ;
}
.seccionesTienda{
    margin: 5px;
    font-size: 30px;
    text-align: center;
    color: $font-color2;
}
.seccionesTienda.títuloNovedades{
    grid-area: títuloNovedades;
}
.seccionesTienda.títuloBestSeller{
    grid-area: títuloBestSeller;
}
.seccionesTienda.títuloAudiolibros{
    grid-area: títuloAudiolibros;
}
.seccionesTienda.títuloEBooks{
    grid-area: títuloEBooks;
}
.seccionesTienda.títuloMerchandising{
    grid-area: títuloMerchandising;
}
.seccionesTienda.títuloExample{
    grid-area: títuloExample;
}
.portadas.grupoC{
    border: $border5;
}
.novedadesMes{
    grid-area: novedades;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 50px;
    background-color: map-get($background-color, "bg6");
    border-radius: 23px;
    border: $border8;
    box-shadow: $shadow4;
}    
.bestSeller{
    grid-area: bestSeller;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 50px;
    background-color: map-get($background-color, "bg6");
    border-radius: 23px;
    border: $border8;
    box-shadow: $shadow4;
}
.audiolibros{
    grid-area: audiolibros;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 50px;
    background-color: map-get($background-color, "bg6");
    border-radius: 23px;
    border: $border8;
    box-shadow: $shadow4;
}
.eBooks{
    grid-area: ebooks;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 50px;
    background-color: map-get($background-color, "bg6");
    border-radius: 23px;
    border:$border8;
    box-shadow: $shadow4;
}
.merchandising{
    grid-area: merchandising;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 50px;
    background-color: map-get($background-color, "bg6");
    border-radius: 23px;
    border: $border8;
    box-shadow: $shadow4;
}
.imagenesMerch{
    margin: 12px;
    padding: 10px;
    text-align: center;
    font-size: 23px;
    width: 57%;
    height: 82%;
    background-color: map-get($background-color, "bg2");
    border: $border6;
}
.exampleTienda{
    grid-area: example;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 50px;
    background-color: map-get($background-color, "bg6");
    border-radius: 23px;
    border: $border8;
    box-shadow: $shadow4;
}
.exampleImg{
    margin: 12px;
    padding: 10px;
    text-align: center;
    font-size: 23px;
    width: 57%;
    height: 82%;
    background-color: map-get($background-color, "bg2");
    border: $border7;
}